.navbar {
  background-color: #121212 !important;
  border-bottom: 1px solid #666;
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff !important;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-brand img {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-link {
  color: #b3b3b3 !important;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ffffff !important;
}

.btn-primary {
  background-color: #1db954;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #1ed760;
}

.btn-danger {
  background-color: #d9534f;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.btn-danger:hover {
  background-color: #c9302c;
}
